obligatorio 2 videojuegos/Temp
obligatorio 2 videojuegos/Library/ScriptAssemblies/Assembly-CSharp.dll
obligatorio 2 videojuegos/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
obligatorio 2 videojuegos/Library/metadata/6e/6e2bfd0bf544a4874aa1779239b01d1a
